//-------------------------------------------------------------------
//  TOP LEVEL SELECTOR STYLING
//-------------------------------------------------------------------

html
  font-size: 62.5%
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeSpeed

body
  font-size: $base-font-size
  overflow-x: hidden
  width: 100vw
  min-height: 100vh
  margin: 0
  background-color: $beige
  *
    @extend %border-box

header
  z-index: $header-z
  padding: 4rem
  border-bottom: 10px solid $black

nav
  z-index: $nav-z

main
  @extend %clearfix

section
  position: relative
  z-index: $content-z
  display: block
  margin: 0 auto
  background-color: $overlay

article
  z-index: $content-z
  overflow: hidden
  max-width: 74rem
  padding: 4rem
  margin: 0 auto

footer
  z-index: $footer-z
  overflow: hidden
  width: 100vw
  position: relative
  padding: 4rem
  border-top: 10px solid $black

img
  width: 100%
  height: auto
  margin-bottom: -3px
