//-------------------------------------------------------------------
//  TYPE STYLING
//-------------------------------------------------------------------

%pdu
  font-family: $pdu
  font-weight: 300

h1
  +type($pdu, 300, 6rem, 1.125, normal, center, $white, uppercase, normal)
  background-color: $black

h2
  +type($pdu, 300, 4rem, 1.125, normal, center, $white, uppercase, normal)
  margin-bottom: 2rem

p
  font-family: $monospace
  font-size: 2rem
  line-height: 1.5
  color: $black
  padding-bottom: 4rem

a
  @extend %smooth
  @extend %pdu
  font-size: 6rem
  text-transform: uppercase
  color: $black
