//-------------------------------------------------------------------
//  TYPE STYLING
//-------------------------------------------------------------------

%pdu
  font-family: $pdu
  font-weight: 300

h1
  +type($pdu, 300, 6rem, 1.125, normal, center, $white, uppercase, normal)
  background-color: $black

h2
  +type($pdu, 300, 4rem, 1.125, normal, center, $white, uppercase, normal)
  margin-bottom: 2rem

h3
  +type($pdu, 300, 2.5rem, 1.125, 2px, left, $white, uppercase, normal)

p
  font-family: $monospace
  font-size: 1.35rem
  line-height: 1.65
  color: $black
  padding-bottom: 2rem

a
  @extend %smooth
  @extend %pdu
  font-size: 6rem
  text-transform: uppercase
  color: $black
